.login{
  background-color: #D1D5DD;
  padding-top: 100px;
  padding-bottom: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}
.center{
  display: flex;
  justify-content: center;
}
.login-form{
  background-color: rgb(255, 255, 255);
  padding: 30px 20px 30px 20px;
  width: 320px;
}
.login-form-title{
  font-size: 24px;
  color: rgb(71, 71, 71);
  font-weight: 400;
  text-align: center;
}

.navbar{
  background-color: rgb(245, 245, 245);
}
.navbar .title-navbar{
  text-align: center;
  color: rgba(0,44,97,1);
  font-weight: 400;
}
.title-page{
  padding-top: 10px;
  background-color: rgba(0,44,97,1);
  color: #fff;
  font-size: 20px;
}

.sidebar{
  background-color: #4271b3;
  text-align: center;
  display: flex;
  flex-direction: column;
}
.btn-rpa{
  background: linear-gradient(#cfe3ff, #789fd6);
  margin-top: 12px;
  min-width: 300px;
}
.btn-rpa:hover{
  background: linear-gradient(#b7c9e3, #6588b9);
}

.btnpyn{
  display: flex;
  flex-direction: column;
}

.txtNovedades{
  background-color: #4271b3;
  color: #fff;
  margin: 50px 0px 50px 0px;
  padding: 20px;
}
.a-nov{
  color: rgb(45, 45, 45);
  text-decoration: none;
}
.a-nov:hover{
  color: rgb(0, 0, 0);
}
.row-alert{
  min-height: 40px;
}
.row-alert p{
  visibility: hidden;
}
.alert-visible{
  visibility: visible!important;
}
@media (min-width: 992px) {
  .navbar>.logo{
    z-index: 2;
  }
  .navbar>.col-lg-10{
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
  }
  .navbar.row{
    padding: 1rem 2rem;
  }
  .title-page{
    padding: 10px 2rem 0px 2rem;
  }
}
@media (max-width: 890px) {
  .logo{
    text-align: center;
  }
}
@media (max-width: 420px) { 
  .navbar .title-navbar{
    font-size: 20px;
  }
  .logo{
    margin-bottom: 1rem;
  }
  .logo img{
    max-width: 40vw;
  }
}